@page
@model WebApp_Core.Pages.Sample3Model
@{
    int i=0;string s;
    switch (i) { 
        case 1 :s = "monday";
            break;
        case 2:
            s = "tuesday";
            break;
        case 3:
            s = "wednesday";
            break;
        case 4:
            s = "thursday";
            break;
        case 5:
            s = "friday";
            break;
        case 6:
            s = "saturday";
            break;
        case 7:
            s = "sunday";
            break;
        default :
            s = "not valid type";
            break;
    }
            <div>
        <p>the value @i represents the day of @s</p>

            </div>
    
}
