@page
@model WebApp_Core.Pages.Sample5Model
@{
    <h2>@Model.Message</h2>
}
   <div>
        <form id="F1" name="F1" method="post">
        <input  type="submit" name="B1" value="Submit" />
        </form>
   </div>